::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: #009fdf;
}

::selection {
  color: rgb(255, 255, 255);
  background: #009fdf;
}

* {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body {
  display: flex;
  flex-direction: column;
  background-color: #007bdff9;
  height: 95vh;
  width: 100%;
  margin: 0;
  align-items: stretch;
  font-weight: 500;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navText {
  font-size: large;
}

nav p {
  color: white;
  font-weight: 600;
}

nav h2 {
  color: white;
}

table {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  margin: 0px 0px 5px;
  width: 100%;
  font-size: larger;
}
/* RIUMF LOGO */
img.logo {
  height: auto;
  width: 15%;
}

/* VOLTAGE GRAPH */
img.graph {
  width: auto;
  height: 100%;
}

/* MAIN DIAGRAM */
.diagram-img {
  max-height: 100%;
  height: 100%;
}

.imageLabelContainer {
  display: block;
  height: 100%;
}

.imageLabelContainer label.diagramLabel {
  position: absolute;
  left: 45%;
  bottom: 9%;
  font-size: large;
  font-weight: 500;
}

.imageLabelContainer label.diagramLabel2 {
  position: absolute;
  left: 45%;
  bottom: 65%;
  font-size: large;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: flex-start;
  position: relative;
  border: 5px solid #f5f5f5;
  height: 100%;
  width: 100%;
}

tr:nth-child(odd) {
  background: #efefef;
}
tr:nth-child(even) {
  background: #fff;
}
th {
  background: #fff;
}

div.subSection {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  width: 100%;
  height: 70%;
}

div.smallContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px;
}

h2.sectionTitle {
  position: absolute;
  left: 1%;
  bottom: 1%;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
}

canvas {
  background-color: #ffffff;
}

/* responsive */
@media only screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  section {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }
  header {
    width: 100%;
  }
}

/*green LED */
.ledGreen {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}

/* cursed neon css below*/

.light {
  position: relative;
  padding: 25px 30px;
  color: #17b825;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  overflow: hidden;
  filter: hue-rotate(20deg);
}
.light:hover {
  background-color: #17b825;
  color: #050801;
  box-shadow: 0 0 5px #17b825, 0 0 25px #17b825, 0 0 50px #17b825,
    0 0 200px #17b825;
}
.light div {
  position: absolute;
}
.light div:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
  background: linear-gradient(to right, transparent, #17b825);
  animation: animate1 4s linear infinite;
}
.light div:nth-child(2) {
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0;
  background: linear-gradient(to bottom, transparent, #17b825);
  animation: animate2 4s linear infinite;
  animation-delay: 1s;
}
.light div:nth-child(3) {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
  background: linear-gradient(to left, transparent, #17b825);
  animation: animate3 4s linear infinite;
  animation-delay: 2s;
}
.light div:nth-child(4) {
  width: 2px;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(to top, transparent, #17b825);
  animation: animate4 4s linear infinite;
  animation-delay: 3s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
