body {
  display: flex;
  flex-direction: column;
  background-color: #009fdf;
}

/* RIUMF LOGO */
img.logo {
  height: 100%;
  max-height: 100px;
  max-width: 300px;
  width: 100%;
}

/* VOLTAGE GRAPH */
img.graph {
  float: left;
  width: 100%;
  max-width: 400px;
}

/* MAIN DIAGRAM */
.diagram-img {
  float: left;
  max-width: 800px;
  min-width: 500px;
  width: 40vw;
}

main {
  float: left;
  overflow: auto;
  min-height: 100vh;
  min-width: 100vw;
}

#BeamContainer {
  display: inline;
}

section {
  float: left;
  min-height: 100vh;
  min-width: 20vw;
  align-items: center;
  background-color: #faf9f6;
  justify-content: space-between;
}

a {
  float: left;
  width: 100%;
  max-width: 500px;
}

* {
  color: black;
}

@media screen and (max-width: 620px) {
  img.graph, .diagram-img, section{
    width: 100vw; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
